extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/about.jpg", alt="About Image")
            .col-md-7
                h1 #{pageTitle}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius malesuada elit, vitae consectetur enim posuere laoreet. Vivamus sed leo a metus semper ultrices vel ut nisi. Fusce facilisis diam ut ligula commodo, vitae ullamcorper mi pellentesque. Mauris quis enim non justo maximus auctor. In tincidunt eget ante vitae pretium. Nullam feugiat venenatis diam non sollicitudin. Vestibulum congue leo quis dictum laoreet. Nam in dapibus nulla. Vestibulum eget efficitur urna. Nam ut ante purus. Aliquam malesuada et diam eget vehicula
                p Sed ac semper nulla, non sagittis elit. Vestibulum purus nunc, congue sagittis metus vel, efficitur aliquam odio. Mauris tincidunt lectus non leo tempor, quis feugiat neque venenatis. Vestibulum vel quam vestibulum risus eleifend tincidunt et quis lectus. Sed libero odio, elementum quis aliquam at, facilisis sed justo. Proin non urna eu lorem dignissim mattis non sed lorem. Pellentesque a elementum felis. 
                p Phasellus placerat dignissim nibh vitae pretium. Quisque cursus dictum tristique. In orci lorem, gravida eu faucibus et, finibus sit amet massa.
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icon_trust.svg", alt="trust", class="img-fluid md-4")
                    h2.mb-4 Trust & Safety
                    p Phasellus placerat dignissim nibh vitae pretium. Quisque cursus dictum tristique. In orci lorem, gravida eu faucibus et, finibus sit amet massa.
                .col-md-4
                    img(src="/img/icon_destiny.svg", alt="trust", class="img-fluid md-4")
                    h2.mb-4 Best Destinatons
                    p Phasellus placerat dignissim nibh vitae pretium. Quisque cursus dictum tristique. In orci lorem, gravida eu faucibus et, finibus sit amet massa.
                .col-md-4
                    img(src="/img/icon_price.svg", alt="trust", class="img-fluid md-4")
                    h2.mb-4 Best Price
                    p Phasellus placerat dignissim nibh vitae pretium. Quisque cursus dictum tristique. In orci lorem, gravida eu faucibus et, finibus sit amet massa.
